<h1 class='title'>Productos</h1>
<div class='line'></div>
<div class='products-container'>
  {{#each data}}
    <article class='product-card'>
      <div class='product-card__img'>
        <img src='{{{this.thumbnail}}}' alt='' />
      </div>
      <div class='product-card__detail'>
        <p class='product-card__name'>{{{this.title}}}</p>
        <p class='product-card__desc'>{{{this.description}}}</p>
      </div>
      <div class='product-card__purchase' id={{{this._id}}}>
        <span class='product-card__price'>${{{this.price}}}</span>
        {{#if (eq ../role 'notLogged') }}
          <button do='not' class='btn'>Agregar al carrito</button>
        {{else if (or this.owner (eq ../role 'admin'))}}
          <button do='edit' class='btn  btn-edit'>Editar el producto</button>
        {{else}}
          <button do='add' class='btn'>Agregar al carrito</button>
        {{/if}}
      </div>
    </article>
  {{/each}}
</div>