<h1 class='title'>Productos</h1>
<div class='line'></div>
<div class='products-container'>
  {{#each data}}
    <article class='product-card'>
      <div class='product-card__img'>
        <img src='{{{this.thumbnail}}}' alt='game-img' />
      </div>
      <div class='product-card__detail'>
        <p class='product-card__name'>{{{this.title}}}</p>
        <p class='product-card__desc'>{{{this.description}}}</p>
      </div>
      <div class='product-card__purchase' id={{{this._id}}}>
        <span class='product-card__price'>${{{this.price}}}</span>
        {{#if this.owner}}
          <button do='edit' class='btn btn-add btn-edit'>Editar producto</button>
        {{else}}
          <button do='add' class='btn btn-add'>Agregar al carrito</button>
        {{/if}}
      </div>
    </article>
  {{/each}}
</div>