<h1>Productos</h1>
{{#if error}}<p>{{{message}}}</p>{{/if}}
{{!-- ENVIAR SI ES PREMIUM O ADMIN --}}
{{> addProduct}}
<div class='products-container'>
  {{#each data}}
    <article class='product-card'>
      <p class="product-card__name">{{{this.title}}}</p>
      <p class="product-card__desc">{{{this.description}}}</p>
      <span class="product-card__price">${{{this.price}}}</span>
      <button class='btn btn-add' id={{{this._id}}}>Agregar al carrito</button>
    </article>
  {{/each}}
</div>
<button id='logout'>Cerrar sesión</button>
{{#if role}}
  <script src='/js/addProduct.js'></script>
{{/if}}