<header class='header'>
  <span>LOGO</span>
  <ul class='main-menu'>
    <span></span>
    {{#each menuOptions}}
      {{#if (eq this.link 'Cerrar sesión')}}
        <li><a id='logout' href='{{{this.anchor}}}'>{{{this.link}}}</a></li>
      {{else}}
        <li><a href='{{{this.anchor}}}'>{{{this.link}}}</a></li>
      {{/if}}
    {{/each}}
  </ul>
</header>
<script src='/js/header.js'></script>